<mat-drawer-content class="content">
    <h1>Welcome to Main content {{title}}</h1>

    <p>
      In publishing, art, and communication, content is the information and
      experiences that are directed towards an end-user or audience. Content
      is "something that is to be expressed through some medium, as speech,
      writing or any of various arts"
    </p>
    <p>
      In publishing, art, and communication, content is the information and
      experiences that are directed towards an end-user or audience. Content
      is "something that is to be expressed through some medium, as speech,
      writing or any of various arts"
    </p>
    <p>
      In publishing, art, and communication, content is the information and
      experiences that are directed towards an end-user or audience. Content
      is "something that is to be expressed through some medium, as speech,
      writing or any of various arts"
    </p>
    <p>
      In publishing, art, and communication, content is the information and
      experiences that are directed towards an end-user or audience. Content
      is "something that is to be expressed through some medium, as speech,
      writing or any of various arts"
    </p>
    <router-outlet></router-outlet>
</mat-drawer-content>